# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
jobs: 
  get_dns:
    docker:
      - image: python:3.7-alpine3.11
    steps:        
      - checkout
      - run:
          name: Add AWS CLI
          command: |
            pip install awscli 
      - run:
          name: Add Curl 
          command: |
            uname -a
      - run:
          name: Get DNS Name
          command: |
            aws ec2 describe-instances \
             --query 'Reservations[*].Instances[*].PublicDnsName' \
             --output text > dns.txt
      - run:
          name: Get DNS Name
          command: |
            dns="$(aws ec2 describe-instances --query 'Reservations[*].Instances[*].PublicDnsName' --output text)"  
            echo $dns
            cat dns.txt
            DNS=`cat dns.txt`
            echo $DNS
                      
workflows:
  default:
    jobs:
      - get_dns