# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
jobs: 
  get_dns:
    docker:
      - image: amazon/aws-cli
    steps:         
      - run:
          name: Get DNS Name
          command: |
            aws ec2 describe-instances \
             --query 'Reservations[*].Instances[*].PublicDNSName' \
             --output text > dns.txt
      - run:
          name: Get DNS Name
          command: |
            aws ec2 describe-instances \
             --query 'Reservations[*].Instances[*].PublicDNSName' \
             --output text 
      - run:
          name: Get DNS Name
          command: |
            ls -lrt

      
           # cat dns.txt


            #DNS=`cat dns.txt`
            #echo $DNS
                      
workflows:
  default:
    jobs:
      - get_dns