# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.

jobs:
  smoke_test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - restore_cache:
          keys: [backend-build]
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install awscli
            sudo apt install curl
            which curl
            export URL="http://udapeople-03a251f6-1c4c-401e-8818-79047eff04fa.s3-website-us-west-2.amazonaws.com"
            curl -s $URL -o curl_frontend_output1.txt
            ls -lrt
            #$(cat curl_frontend_page1.txt)
            echo "Frontend URL: $URL"
            
            curl -s ${URL} > curl_frontend_output.txt
            if [[ $(cat curl_frontend_page.txt) =~ "Welcome" ]]
            then
              exit 0
            else
              echo "Vishesh"
              exit 1
            fi
workflows:
  default:
    jobs:
      - smoke_test


