# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.

jobs:
  check_curl:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout 
      - run:
          name: Install dependencies
          command: |
            yum install -y tar gzip
            curl -sL https://rpm.nodesource.com/setup_13.x | bash -
      - run:
          name: Add back-end ip to ansible inventory and upload dnsname to memstash
          command: |
               key1=test1
               curl -H "Content-Type: text/plain" -H "token:API_URL_${CIRCLE_WORKFLOW_ID}" --request PUT --data "$key1" https://api.memstash.io/values/API_URL
               echo "API_URL_${CIRCLE_WORKFLOW_ID}"
workflows:
  default:
    jobs:
      - check_curl
