# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
jobs: 
  create_inventory:
    working_directory: ~/project
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout             
      - run:
          name: Add back-end ip to ansible inventory
          command: |
             echo "[all]" > .circleci/ansible/inventory.txt
                      
      - persist_to_workspace:
          root: ~/project
          paths: 
            - .circleci/ansible/inventory.txt
              
  check_inventory:
    working_directory: ~/project
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout            
      - attach_workspace:
          at: ~/project
      - run:
          name: Check inventory file exists
          command: |
            cat ./.circleci/ansible/inventory.txt

workflows:
  default:
    jobs:
      - create_inventory
      - check_inventory
